/.project
/tmp/
/target/
/test/
.texlipse
.settings
*.aux
*.log
*.glo
*.idx
*.brf
*.nlo
*.nls
*.bst
*.glg
*.gls
*.ilg
*.ind
*.ist
*.toc
*.bbl
*.blg
*.out
*.lot
*.loq
*.fls
*.fdb_latexmk
*.synctex.gz
doc/latex/abntex2/abntex2abrev.sty
doc/latex/abntex2/abntex2-options.bib
doc/latex/abntex2/abntex2.cls
doc/latex/abntex2/abntex2cite.sty
doc/latex/abntex2/examples/abntex2.cls
abntex2cite-alf.pdf
abntex2-modelo-glossarios.pdf
abntex2-modelo-artigo.pdf
abntex2-modelo-glossarios.pdf
abntex2-modelo-trabalho-academico.pdf
abntex2.pdf
abntex2cite.pdf
.DS_Store